<!-- 
    step 1: npm i @googlemaps/js-api-loader
    step 2: https://console.cloud.google.com
    go to this link 
     open dashboard create one project and i created one project using 
     email:samplemailid705@gmail.com
     password:Vinay@1998

     after creation of this project u can see dashboard 
     there click on gotp apis overview
     click on enable apis 
     there search for Maps javascript api
     and enable it
     after that got to APIS and service in the dashboard and click on the creditionals there
     at top create credentionals click on it the u find Api key click on it ur api key is generated 
      
     This Api is very important to see the maps

     or see this link in youtube : https://youtu.be/7P5Oj8heApU

 -->

 <div class="full" id="map">

</div>