<div fxLayout="column" fxLayoutAlign="start start">
    <h1 style="font-style: italic;font-weight: 900;color: #5cb85c; margin-left:1%;">{{x}}, {{name}}</h1>
</div>
<app-coursel></app-coursel>

<div fxLayout="row" fxLayoutAlign="start start">
    <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/bike logo.png">
        <h5 style="text-align:center;margin-top:1%">BOOK SERVICE</h5>
        </mat-card>
        <img style="margin-top:8%" class="Arrow" src="../../../assets/images/rightarrow.jpg">
       <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/free pickp.jpg">
        <h5 style="text-align:center;margin-top:1%">FREE PICKUP</h5>
       </mat-card>
       <img style="margin-top:8%" class="Arrow" src="../../../assets/images/rightarrow.jpg">
       <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/tools.png">
        <h5 style="text-align:center;margin-top:1%">DETAIL CHECK</h5>
       </mat-card>
       <img style="margin-top:8%"class="Arrow" src="../../../assets/images/rightarrow.jpg">
       <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/selected Service.jpg">
        <h5 style="text-align:center;margin-top:1%">SERVICE ON SELECTED</h5>
       </mat-card>
       <img style="margin-top:8%" class="Arrow" src="../../../assets/images/rightarrow.jpg">
       <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/payment.jpg">
        <h5 style="text-align:center;margin-top:1%">PAYMENT CASH/ONLINE</h5>
       </mat-card>
       <img style="margin-top:8%" class="Arrow" src="../../../assets/images/rightarrow.jpg">
       <mat-card class="use">
        <img style="margin-top:1%" class="logo" src="../../../assets/images/freeDrop2.jpg">
        <h5 style="text-align:center;margin-top:1%">FREE DROP</h5>
       </mat-card>     
</div>
<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutAlign="end end">
            <mat-card class="contain">
                <form [formGroup]="form">
                    <mat-card-content>
                        <mat-form-field style="width:40%;margin-left:3%;">
                            <mat-label>Select Location</mat-label>
                            <mat-select formControlName="location">
                                <mat-option *ngFor="let loc of location" [value]="loc">
                                    {{loc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field style="width:40%;margin-left: 12%;cursor: pointer;">
                            <mat-label>Service Date</mat-label>
                            <input matInput [matDatepicker]="date" [min]="currentDate" formControlName="PickUpdate">
                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                            <mat-datepicker #date></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field style="width:40%;margin-left: 3%;">
                            <mat-label>Select Bike</mat-label>
                            <mat-select formControlName="bikeName">
                                <mat-option *ngFor="let bike of bikes" [value]="bike">
                                    {{bike.bikeName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field style="width:40%;margin-left: 12%;cursor: pointer;">
                            <mat-label>Bike Reg No </mat-label>
                            <input matInput type="text" formControlName="regNo">
                        </mat-form-field>
                        <mat-form-field style="width:40%;margin-left: 3%;cursor: pointer;">
                            <mat-label>Enter Mobile Number </mat-label>
                            <span matPrefix>+91 &nbsp;</span>
                            <input matInput type="text" formControlName="phonenumber" maxlength="10">
                            <mat-error>
                                <div *ngIf="form.controls.phonenumber?.dirty && form.controls.phonenumber.errors?.minlength && form.controls.phonenumber.errors?.pattern">
                                    phonenumber should contain 10 numbers only & only numerics values
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field style="width:40%;margin-left: 12%;cursor: pointer;">
                            <mat-label>Bike CC </mat-label>
                            <mat-select formControlName="Bike_CC">
                                <mat-option *ngFor="let Bike_cc of CC" [value]="Bike_cc">
                                    {{Bike_cc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form"  appearance="outline">
                            <mat-label>ADDRESS</mat-label>
                            <textarea matInput type="text"  formControlName="Address">
                           </textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-raised-button></button>
                </form>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" style="color:white; margin-top:2%;" class="btn"
                        (click)="submitform()">Book Service</button>
                </div>
            </mat-card>
        </div>
    </div>