table {

    width:90%;
    border:2px solid;border-color:#6CB33F;
    margin-bottom:3%;
  }
  
  /* th.mat-header-cell {
    text-align: left;
    max-width: 400px;
    
  } */
 
 
  .mat-row:nth-child(2n+1){
    background-color: #d4d7ee;
  }
  .mat-row:not(:nth-child(n+1)){
    background-color:#ffffff;
    /* text-align: center; */
    
  }
  th.mat-header-cell {
    color:white ;
    background-color: #848cc9;
    font-style: italic;
    font-weight: 500; 
    padding-bottom: 15px;  
   
   
  }
.feild{
 
  width: 200px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-top: 15px;
    text-align: center;
}


