<!-- <div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="container ">
        <div class="row">
            <div fxLayout="column" fxLayoutAlign="center center">
               <div>
                  <mat-card style="width:35%;margin-top:2%;margin-left:550px;background-image:linear-gradient(to right, #314755 100%, #26a0da 100%, #314755 0%);">
                            <h4 style="font-style: italic;font-weight: 900;color:white">Bike Name: {{BikeName}} {{Bike_CC}}</h4>
                            <h4 style="font-style: italic;font-weight: 900;color:white">Registration NO: &nbsp;
                                {{BIke_RegNo}}</h4>

                        </mat-card> 
                        <mat-form-field appearance="outline" style="margin-right:200px">
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search by name" #input>
                            <mat-icon *ngIf="searchedText==''" class="material-icons searchicon" matSuffix>
                                search
                            </mat-icon>
                            <mat-icon *ngIf="searchedText!=''" matSuffix (click)="clear()">clear</mat-icon>
                        </mat-form-field>
                        </div>
                        
                
               
                    
                    <table matSort mat-table [dataSource]="companyArr" class="table" recycleRows>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <form [formGroup]="form">
                                <ng-container matColumnDef="Select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ServiceName">
                                    <th mat-header-cell *matHeaderCellDef> ServiceName </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ServiceName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Description">
                                    <th mat-header-cell *matHeaderCellDef> Description</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon (click)="openDialog()" style="color:#26a0da;  margin-left: 10%; ">
                                            visibility</mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Options">
                                    <th mat-header-cell *matHeaderCellDef> Options</th>
                                    <td mat-cell *matCellDef="let element">
                                       
                                        <mat-form-field appearance="outline" style="margin-top: 3%;"
                                            placeholder="Select">
                                            <mat-select formControlName="element" placeholder="select Battery">
                                                <mat-option *ngFor="let bat of element.Battery" [value]="bat">
                                                    {{bat.BatteryName}} -
                                                    {{bat.BatteryPrice}} /-
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>     
                                  
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Price">
                                    <th mat-header-cell *matHeaderCellDef> Price</th>
                                    <td mat-cell *matCellDef="let element"> {{element.Price}} /-</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selection.toggle(row)" (click)="selected(row)"></tr>
                            </form>
                        </div>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" mat-raised-button
                            (click)="logSelection()">Submit</button>
                    </div>
             
            </div>
        </div>
    </div>
</div>
 -->
 <div fxLayout="column">
 <div class="container">
    <div class="row">

  <div class="col align-self-center">
    <mat-form-field appearance="outline" class="feild">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by name" #input>
        <mat-icon *ngIf="searchedText==''" class="material-icons searchicon" matSuffix>
            search
        </mat-icon>
        <mat-icon *ngIf="searchedText!=''" matSuffix (click)="clear()">clear</mat-icon>
    </mat-form-field>
  </div>
  <div class="col align-self-center mb-3">
    <mat-card style="width:60%;margin-top:2%;margin-left:200px;background-image:linear-gradient(to right, #314755 100%, #26a0da 100%, #314755 0%);">
        <h4 style="font-style: italic;font-weight: 900;color:white">Bike Name: {{BikeName}} {{Bike_CC}}</h4>
        <h4 style="font-style: italic;font-weight: 900;color:white">Registration NO: &nbsp;
            {{BIke_RegNo}}</h4>
    </mat-card> 
  </div>
  </div>
  </div>
    </div>

 <div fxLayout="column" fxLayoutAlign="center center">
    <table matSort mat-table [dataSource]="companyArr" class="table" recycleRows>
        <!-- <div fxLayout="column" fxLayoutAlign="center center"> -->
            <form [formGroup]="form">
                <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            >
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ServiceName">
                    <th mat-header-cell *matHeaderCellDef> ServiceName </th>
                    <td mat-cell *matCellDef="let element" style="margin-top:10%"> {{element.ServiceName}} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description</th>
                    <td mat-cell *matCellDef="let element" style="margin-top:2%">
                        <mat-icon (click)="openDialog()" style="color:#26a0da;  margin-left: 10%; ">
                            visibility</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Options">
                    <th mat-header-cell *matHeaderCellDef> Options</th>
                    <td mat-cell *matCellDef="let element">
                       
                        <mat-form-field appearance="outline" *ngIf="element.ServiceName=='BatteryChange'" style="margin-top: 3%;"
                            placeholder="Select">
                            <mat-select formControlName="Battery" placeholder="select Battery">
                                <mat-option *ngFor="let bat of element.Battery" [value]="bat">
                                    {{bat.BatteryName}} -
                                    {{bat.BatteryPrice}} /-
                                </mat-option>
                            </mat-select>
                        </mat-form-field>  
                        <mat-form-field appearance="outline" *ngIf="element.ServiceName=='EngineOil'"style="margin-top: 3%;"
                        placeholder="Select">
                        <mat-select formControlName="EngineOil" placeholder="select EngineOil">
                            <mat-option *ngFor="let bat of element.EngineOil" [value]="bat">
                                {{bat.EngineOilName}} -
                                {{bat.TankCapacity}} -
                                {{bat.EngineOilPrice}} /-
                            </mat-option>
                        </mat-select>
                    </mat-form-field>     
                  
                    </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price</th>
                    <td mat-cell *matCellDef="let element"> {{element.Price}} /-</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)" (click)="selected(row)"></tr>
            </form>
        <!-- </div> -->
    </table>
    <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button
            (click)="logSelection()" >Submit</button>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    

    </div>
