.mat-row:nth-child(2n+1){
    background-color: #d4d7ee;
  }
  .mat-row:not(:nth-child(n+1)){
    background-color:#ffffff;
    /* text-align: center; */
    
  }
  th.mat-header-cell {
    color:white ;
    background-color: #848cc9;
    font-style: italic;
    font-weight: 500;   
    margin-top: 10%;
   
  }
  table {

    width:90%;
    border:2px solid;border-color:#6CB33F;
    margin-bottom:3%;
    margin-top: 3%;
  }