<div fxLayout="column wrap" fxLayoutAlign="start stretch">
    <mat-card style="background-image: linear-gradient(to right, #232526 0%, #414345  0%, #232526  100%);text-align:left;margin-top:2%;">

      
        <hr>
        <h1 style="color:white;cursor: pointer;">About Us</h1>
        <div fxLayout="row" fxLayoutAlign="start stretch" >

            <p style="color:white;">
                The BIKE LAB is Usually, a bike servicing company is to provide "QUALITY SERVICE".
                BIKE LAB believes that giving Quality service come from the effort to carry out Quality Service development from customer's point of view. 
                This policy has been in effect since Company's inception and has helped the Organization to meet customer's needs. 
                As a result, BIKE LAB have become well received throughout the World. BIKE LAB fully committed to create outsatnding service that meet customer's demand by utilizing its dynamic, long-nurtured technological advantage coupled with its fresh and active human resources.
                BIKE LAB has best and certified staff to give there output according to customer reqiuirement.
                </p>

              </div>
              <hr>

              <div fxLayout="row" fxLayoutAlign="start stretch" >

                <img class="logo" src="../../../assets/images/bike logo.png">&nbsp;&nbsp;&nbsp;
        
                <h1 style="color:white; margin-top: 8%;"> BIKE LAB
                </h1>
        
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <h2 style="margin-left:20%;color:white; margin-top:3%;">
                  COMPANY
                  <h3 sty>
                    FAQ
                    </h3>
                    <h3>
                    Privacy Policy
                      </h3>
                      <h3>
                        Terms & Conditions
                        </h3>
        
                </h2>
                <h2 style="margin-left:15%;color:white; margin-top:3%;cursor: pointer;">
                  FOLLOW US
        
                  <h3>
                    <a href="www.facebook.com" class="fa fa-facebook"></a>
                    Facebook
        
                    </h3>
                    <h3>
                      <a href="www.instagram.com" class="fa fa-instagram"></a>
                    Instagram
        
        
                      </h3>
                      <h3>
                        <a href="www.whatsapp.com" class="fa fa-whatsapp"></a>
                        Whatsapp
                        </h3>
                        </h2>
        
                </div>
                <hr>
              <h3 style="color:white;text-align: center;">Copyright @ 2022 All rights reserved</h3>

    </mat-card>
  </div>
